@import "style.css";
@import "card.css";

/* ===================================================================
    Page-container styles
   =================================================================== */

   /* Mobile view */
   
.page-container{
    min-height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas: 
    "hd"
    "main"
    "ft";
    grid-gap: 30px;  
}


/* ===================================================================
    Header styles
   =================================================================== */

   header{
    grid-area: hd;
}

h1{
    text-decoration: underline;
}


/* ===================================================================
    Container styles
   =================================================================== */

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-area: main;
}


/* ===================================================================
    Footer styles
   =================================================================== */

footer{
    grid-area: ft;
}


/* ===================================================================
    Media queries
   =================================================================== */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    .page-container{
    grid-template-areas: 
    "hd"
    "main"
    "ft";
    }

    body{
    line-height: 1.9em;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .page-container{
        grid-template-areas: 
        "hd"
        "main"
        "ft";
        }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .page-container{
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "main main main main main main main main"
        "ft ft ft ft ft ft ft ft";
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .page-container{
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "main main main main main main main main"
        "ft ft ft ft ft ft ft ft";
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .page-container{
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "main main main main main main main main"
        "ft ft ft ft ft ft ft ft";
    }
}