.sidebar ul{
    margin: 0px;
    padding: 0px;
}

.sidebar h3{
    font-style: italic;
}

.sidebar p{
    padding: 10px;
}

#about{
    background-color: #E9C46A;
}

.sidebar .elsewhere ul li{
    font-size: 20px;
    margin-top: 5px;
    color: #2A9D8F;
}